// Country detail view styling
#country-capitals {

    h2 {
        @include rem(font-size, 38px);
        font-weight: 700;
        margin: 0;
        padding: 10px 0px;
    }

    dl {
        dt {
            float: left;
            clear: left;
            margin-right: 5px;
            font-weight: bold;
            width: 200px;
        }
        dd {
            margin-left: 0px;
            a {
                color: #0066bb;
                text-decoration: none;
                &:hover {
                    color: #000;
                }
            }
        }
    }

    .images {
        text-align: center;
        img {
            max-width: 230px;
            margin-right: 5px;
        }
    }
}