// Countries view styling
#country-capitals {
    .country-table-wrapper {
        height: 500px;
        overflow-y: auto;
        position: relative;
        width: 100%;
    }

    table {
        border-collapse: separate;
        display: table;
        overflow-y: auto;
        width: 100%;
    }

    th {
        text-align: left;
    }

    thead {
        display: table-header-group;
    }

    tbody {
        display: table-row-group;
        tr:nth-child(even) {
            background-color: #EEE;
        }
        tr:hover {
            background-color: #000;
            color: #FFF;
        }
    }
}