// Countries view styling
#country-capitals {

    table {
        table-layout: fixed;
        border-collapse: collapse;
    }

    tr {
        cursor: pointer;
    }

    th, td {
        $cellWidth: (1280px / 6);
        @include rem(width, $cellWidth);
        padding: 5px;
        text-align: left;
    }

    thead {
        @include rem(width, 1280px);
        display: table-header-group;
        tr {
            display: block;
            position: relative;
        }
    }

    tbody {
        @include rem(width, 1280px);
        height: 500px;
        overflow-y: auto;
        display: block;
        tr:nth-child(even) {
            background-color: #EEE;
        }
        tr:hover {
            background-color: #000;
            color: #FFF;
        }
    }
}